#root {
  margin: 0 0;
  padding: 2rem;
  background-color: rgb(206, 226, 233);
  width: 100dvw;
  height: 100dvh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.recharts-label {
  font-size: 18px;
  font-weight: bold;
  fill: rgb(136, 132, 216);
}

.fullscreen-button {
  position: fixed;
  top: 0;
  right: 0;
  background-color: blueviolet;
  height: 60px;
  width: 90px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
