.app {
  margin: 0;
}

.app-header {
  margin: 24px;
}

.app-description {
  color: rgba(0, 0, 0, 0.6);
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos img {
  max-height: 120px;
  height: auto;
}

.ines-logo {
  max-width: 14%;
}

.carrd-logo {
  max-width: 84%;
}