.app {
  margin: 0;
}

.app-header {
  margin: 24px;
}

.app-description {
  color: rgba(0, 0, 0, 0.6);
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  max-width: 100%;
}

.logos > a {
  height: auto;
  max-width: 48%;
}

.logos > a > img {
  max-width: 100%;
  max-height: 120px;
}

.mobile-info {
  display: none;
}

@media (max-width: 700px) {
  .logos > a {
    max-width: 100%;
  }

  .mobile-info {
    display: flex;
    padding: 16px;
    background-color: #fadcd7;
    border-radius: 16px;
    align-items: center;
    gap: 16px;
  }
}