.bubbleplot-container {
    height: 90dvh;
    font-weight: 600;
}

.empty-data-msg {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0 10px 10px;
}

text:has(> tspan.axis-legend), .axis-legend {
    font: 15px sans-serif;
}

.tooltip {
    background-color: white;
    border: solid 1px gray;
    padding: 0 15px;
}
