.graph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 12px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.graph {
    background-color: white;
}

.responses-sum {
    background-color: white;
    padding: 6px 12px;
    border-radius: 20px;
}
