.graph-container {
    margin: 30px;
}
.graph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 12px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.graph {
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.responses-sum-container {
    display: flex;
    align-items: center;
}
.responses-sum {
    background-color: white;
    padding: 6px 12px;
    border-radius: 20px;
    margin-left: 8px;
}

.sector-select-group {
    margin-left: 6px;
}
