.question-inputs-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.swap-button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 72px;
}